nav ul {
	list-style-type: none;
	padding: 0px;
}
nav li {
	display: inline-block;
	margin: 0em 0.5em;
}
.episodes {
	list-style-type: none;
	padding-left: 0;
}
.episodes li {
	margin-bottom: 1em;
}
.epheader {
	font-size: 110%;
}
.epcode {
	font-family: monospace;
}
.epname-alt {
	font-style: italic;
}