nav ul {
	list-style-type: none;
	padding: 0px;
}
nav li {
	display: inline-block;
	margin: 0em 0.5em;
}
.episode-list {
	list-style-type: none;
	padding-left: 0;
}
.episode-list li {
	margin-bottom: 1em;
}
.episode-header {
	font-size: 110%;
}
.episode-code {
	font-family: monospace;
}
.episode-name-alt {
	font-style: italic;
}