{{- partial "header.html" . -}}
<h1>{{- .Title -}}</h1>
<div>{{- .Content -}}</div>
{{- $.Scratch.Set "prefix" "" -}}
{{- range sort .Site.Data.episodes "code" -}}
	{{- if ne (substr .code 0 1) ($.Scratch.Get "prefix") -}}
		{{- if $.Scratch.Get "prefix" -}}
			{{- partial "episode/list-end.html" . -}}
		{{- end -}}
		{{- partial "episode/header-alphabetical.html" (substr .code 0 1) -}}
		{{- partial "episode/list-start.html" . -}}
		{{- $.Scratch.Set "prefix" (substr .code 0 1) -}}
	{{- end -}}
	{{- if .alt -}}
		{{- partial "episode/alphabetical-alt.html" . -}}
	{{- else -}}
		{{- partial "episode/alphabetical.html" . -}}
	{{- end -}}
{{- end -}}
{{- partial "footer.html" . -}}