{{- define "main" -}}
	<div>{{ .Content }}</div>
	{{- $allMedia := (.Site.Data.episodes | append .Site.Data.others) -}}
	{{- $sortedMedia := sort $allMedia "code" -}}
	{{- $scratch := newScratch -}}
	{{- $scratch.Set "groups" slice -}}
	{{- $prefix := "" -}}
	{{- range $sortedMedia -}}
		{{- if ne (substr .code 0 1) $prefix -}}
			{{- if $prefix -}}
				{{- $scratch.Add "groups" (dict "key" $prefix "items" ($scratch.Get "current")) -}}
			{{- end -}}
			{{- $prefix = substr .code 0 1 -}}
			{{- $scratch.Set "current" slice -}}
		{{- end -}}
		{{ $scratch.Add "current" . -}}
	{{- end -}}
	{{- $scratch.Add "groups" (dict "key" $prefix "items" ($scratch.Get "current")) -}}

	{{- partial "alphabetical-listing.html" ($scratch.Get "groups") -}}
{{- end -}}