{{- define "intro-title" -}}
	<h1>{{ .Site.Title }}</h1>
{{- end -}}
{{- define "main" -}}
	<div>{{ .Content }}</div>
	{{- $season := "" -}}
	{{- range .Site.Data.episodes -}}
		{{- if ne .season $season -}}
			{{- if $season -}}
				{{- partial "episode/list-end.html" . -}}
			{{- end -}}
			{{- partial "episode/header-main.html" .season -}}
			{{- partial "episode/list-start.html" . -}}
			{{- $season = .season -}}
		{{- end -}}
		{{- if .alt -}}
			{{- partial "episode/main-alt.html" . -}}
		{{- else -}}
			{{- partial "episode/main.html" . -}}
		{{- end -}}
	{{- end -}}
{{- end -}}