{{- define "intro-title" -}}
	<h1>{{ .Site.Title }}</h1>
{{- end -}}
{{- define "main" -}}
	<div>{{ .Content }}</div>
	{{- $scratch := newScratch -}}
	{{- $scratch.Set "groups" slice -}}
	{{- $season := "" -}}
	{{- range .Site.Data.episodes -}}
		{{- if ne .season $season -}}
			{{- if $season -}}
				{{- $scratch.Add "groups" (dict "key" $season "items" ($scratch.Get "current")) -}}
			{{- end -}}
			{{- $season = .season -}}
			{{- $scratch.Set "current" slice -}}
		{{- end -}}
		{{ $scratch.Add "current" . -}}
	{{- end -}}
	{{- $scratch.Add "groups" (dict "key" $season "items" ($scratch.Get "current")) -}}

	{{- partial "main-listing.html" ($scratch.Get "groups") -}}
{{- end -}}